AdoDotnetExample/Service References/ServiceReference2/GetDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52763/GetDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52763/GetDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52763/GetDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceExample.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetDataService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IGetDataService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IGetDataService_GetEmployeeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeData" />
  </wsdl:message>
  <wsdl:message name="IGetDataService_GetEmployeeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetDataService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDataService/DoWork" message="tns:IGetDataService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDataService/DoWorkResponse" message="tns:IGetDataService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDataService/GetEmployeeData" message="tns:IGetDataService_GetEmployeeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDataService/GetEmployeeDataResponse" message="tns:IGetDataService_GetEmployeeData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetDataService" type="tns:IGetDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IGetDataService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeData">
      <soap:operation soapAction="http://tempuri.org/IGetDataService/GetEmployeeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetDataService">
    <wsdl:port name="BasicHttpBinding_IGetDataService" binding="tns:BasicHttpBinding_IGetDataService">
      <soap:address location="http://localhost:52763/GetDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>